svg {
    border: 1px solid black;
}

.axis-label {
    font-weight: bold;
}

.bar-chart-tooltip {
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
}